.add{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.addpage{
    font-size: 30px;
}
.input{
    border-radius: 10px;
    height:20px;
    width: 200px;
    padding: 20px;
}
.formbtn{
    border-radius: 10px;
    height:60px;
    width: 250px;
    padding: 20px;
    background-color: yellow;
    cursor: pointer;
}